export const Token = 'Bot TOKEN'
export const botID = '1042495791694086194'
export const siteHost = 'https://shrimp.numselli.xyz'
export const Postgrelogin = {
    "user": "shrimpbot",
    "password": "337823521",
    "host": "shrimppostgres",
    "port": 5432,
}