<div class="footer">
  <div>
    <a href="https://github.com/numselli/shrimpBot" target="_blank" rel="noopener noreferrer">GitHub</a>
    <a href="/invite">Invite</a>
    <a href="/privacy">Privacy</a>
    <a href="https://statcord.com/bots/1042495791694086194" target="_blank" rel="noopener noreferrer">Stats</a>

  </div>
  
  <span>Made with <img class="shrimpImg" alt="shrimp emoji" src="/static/img/shrimp.svg"> and ❤️ by <a href="https://numselli.xyz" target="_blank" rel="noopener noreferrer">numselli</a></span>
</div>
